::before::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

::before,
::after {
    --tw-content: '';
}

body {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: Roboto, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
}

.areas {
    display: flex;
    background-color: #5A5858;
    height: 50px;
    align-items: end;
    justify-content: start;
    gap: 15px;
    padding-left: 10px;

}

.areas button {
    width: 75px;
    background-color: #5A5858;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.areas button span {
    color: rgb(175, 175, 175);
}

.mesas-button {
    width: 75px !important;
    background-color: #8D8D8D !important;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.mesas-button span {
    color: white !important;
    font-weight: bold !important;
}

.ambiente {
    display: flex;
    background-color: #8D8D8D;
    height: 50px;
    align-items: end;
    justify-content: start;
    gap: 15px;
    padding-left: 10px;

}

.ambiente button {
    width: 75px;
    height: 30px;
    background-color: #2e2e2e;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.ambiente button span {
    color: rgb(161, 161, 161);
}

.interna-button {
    width: 75px;
    height: 30px;
    background-color: #ffffff  !important;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.interna-button span {
    color: rgb(0, 0, 0) !important;
    font-weight: bold;
}

.search-area, .search-area input {
    display: flex;
    background-color: #5A5858;
    align-items: center;
    height: 50px;
    gap: 10px;
    padding-left: 10px;
    border-left: 1px solid rgb(185, 185, 185);
}

.search-area input {
    border: none;
}

.search-area i, .search-area input {
    color: rgb(153, 153, 153);
    font-weight: bold;
    font-size: 16px;
}

.mesa-header {
    background-color: #D3D3D3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid rgb(136, 136, 136);
}

.mesa-header.active {
    background-color: #23A6AE;
}

.mesa-header.active span {
    color: white
}

.mesa-header .hidden {
    display: none;
}

.mesa-header .visible {
    display: block;
}

.mesa-header i, .mesa-header span {
    color: white;
    font-size: 20px;
}

.mesa-header i:hover, .mesa-details:hover  {
    cursor: pointer;
}

.mesa-body {
    background: rgba(72, 83, 74, 0.120); 
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(185, 185, 185);
}

#createMesaMessage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
}

.grid-container {
    padding-top: 50px;
    padding-left: 15px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.5em;
    margin: auto;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    width: 85px;
    height: 85px;
    background-color: #24892F;
    color: white;
    font-weight: bold;
    font-size: 24px;
    border: 2px solid #287531;
    box-shadow: 1px 1px 2px #5A5858;
    transition: all 0.3s ease-in-out;
}

.grid-item.selected {
    background-color: #44898b;
    border: 2px solid #236e70;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.7);
}


.grid-item img {
    max-width: 80%;
    max-height: 80%;
}

.grid-item.empty {
    background-color: #e0e0e0;
    color: #888;
    font-size: 24px;
}

.confirmation-modal {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
}

#mesa-details {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    max-height: 90vh;
}

.ml-3 {
    margin-left: 1rem;
}

textarea {
    resize: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.stat-plus:hover, .stat-minus:hover {
    cursor: pointer;
    color: #888;
}
